/* \src\app\mylife\gridVariantMyLife.css */

/* ------------------- Mapping des zones ------------------- */
.mylife-images-grid img:nth-child(1) { grid-area: img1; }
.mylife-images-grid img:nth-child(2) { grid-area: img2; }
.mylife-images-grid img:nth-child(3) { grid-area: img3; }
.mylife-images-grid img:nth-child(4) { grid-area: img4; }
.mylife-images-grid img:nth-child(5) { grid-area: img5; }
.mylife-images-grid img:nth-child(6) { grid-area: img6; }
.mylife-images-grid img:nth-child(7) { grid-area: img7; }
.mylife-images-grid img:nth-child(8) { grid-area: img8; }
.mylife-images-grid img:nth-child(9) { grid-area: img9; }
.mylife-images-grid img:nth-child(10) { grid-area: img10; }
/* === 2 IMAGES === */
.mylife-grid-1-variant-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  grid-template-areas:
    ". img1";
}
.mylife-grid-1-variant-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas:
    ". img1";
}
.mylife-grid-1-variant-3 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100%;
  grid-template-areas:
    ". img1";
}

/* === 2 IMAGES === */
.mylife-grid-2-variant-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas:
    "img1 img2"
    "img1 img2"
    "img1 .";
}
.mylife-grid-2-variant-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 20% 50%;
  grid-template-areas:
    "img1 img1 img2"
    "img1 img1 img2"
    "img1 img1 img2";
}
.mylife-grid-2-variant-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 30% 40%;
  grid-template-areas:
    "img1 img2"
    "img1 img2"
    ". img2";
}

/* === 3 IMAGES === */
.mylife-grid-3-variant-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 30% 25% 45%;
  grid-template-areas:
    "img1 img2"
    "img1 img3"
    "img1 img3";
}

.mylife-grid-3-variant-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 50% 20%;
  grid-template-areas:
    "img1 img2"
    "img3 img3"
    "img3 img3";
}

.mylife-grid-3-variant-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50% 15% 35%;
  grid-template-areas:
    "img1 img2"
    "img1 img2"
    "img3 img3";
}

/* ==== 4 IMAGES ==== */
.mylife-grid-4-variant-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 40% 10% 50%;
  grid-template-areas:
    "img1 img1 img2"
    "img3 img3 img2"
    "img3 img3 img4";
}
.mylife-grid-4-variant-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 40% 30% 30%;
  grid-template-areas:
    "img1 img1 img2"
    "img3 img3 img2"
    "img4 img4 img4";
}
.mylife-grid-4-variant-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 20% 50%;
  grid-template-areas:
    "img1 img2"
    "img3 img2"
    "img3 img4";
}
/* ==== 5 IMAGES ==== */
.mylife-grid-5-variant-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 25% 25% 50%;
  grid-template-areas:
    "img1 img1 img2 img2"
    "img3 img3 img2 img2"
    "img3 img3 img5 img4";
}
.mylife-grid-5-variant-2 {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 45% 25% 30%;
  grid-template-areas:
    "img1 img1 img2"
    "img3 img3 img4"
    "img5 img5 img4";
}
.mylife-grid-5-variant-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 35% 35%;
  grid-template-areas:
    "img1 img2 img2"
    "img3 img4 img5"
    "img3 img4 img5";
}

/* ==== 6 IMAGES ==== */
.mylife-grid-6-variant-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 1fr;
  grid-template-rows: 40% 15% 45%;
  grid-template-areas:
    "img1 img1 img2 img2"
    "img5 img5 img3 img4"
    "img5 img5 img6 img6"
}
.mylife-grid-6-variant-2 {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 30% 35% 35%;
  grid-template-areas:
    "img1 img1 img2 img2"
    "img3 img3 img4 img4"
    "img5 img5 img6 img6";
}
.mylife-grid-6-variant-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 65% 15% 20%;
  grid-template-areas:
    "img1 img2 img2"
    "img3 img4 img5"
    "img6 img6 img5";
}
