/* projects.css */

.projects-container {
  /* background-color: pink; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  display: grid;
  grid-template-columns: clamp(15rem, 30vw, 40rem) 1fr;
  height: 25vh;
  min-height: 20rem;
  overflow: hidden;
  gap: 1rem;
}
@media (min-width: 2000px) {
  .project-card {
    height: 16dvw; /* par exemple, 15% de la largeur viewport dynamique */
    min-height: unset; /* si tu veux enlever la min-height */
  }
  .project-description {
    width: 100%;
    margin-top: 1rem;
    font-size: 0.7dvw !important;
    color: black;
    }
}

.project-text {
  width: clamp(15rem, 30vw, 40rem);
  padding: 1rem;
  border-right: 2px solid rgba(0, 0, 0, 1);
  min-width: 0;
}


.project-meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.project-title {
  margin-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-size: max(min(3vw, 5em), 2vw);
  text-transform: uppercase;
}
.project-title a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  /* transition pas nécessaire ici mais ok */
}
.scroll-wrapper {
  overflow: hidden;
  width: 100%;
}

.scroll-text:hover {
  display: inline-block;
  padding-right: 2rem; /* espace pour la boucle */
  animation: scroll-title 6s linear infinite;
}

.scroll-on-hover:hover {
  animation: scroll-title 6s linear ;
}

@keyframes scroll-title {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-90%); /* mi-course */
  }
}


.project-year {
white-space: nowrap;
  margin-top: 0.5vw;
  display: flex;
  font-size: max(min(2.5vw, 2.5em), 1rem);
  font-weight: normal;
}

.project-category-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: aquamarine; */
  width: 80%;
}

.project-category {
    white-space: nowrap;
  background-color: black;
  color: white;
  font-size: 0.85rem;
  /* font-weight: bold; */
  padding: 0.2rem 0.6rem 0.1rem 0.5rem;
  margin: 0.2em 0.2em 0em 0em;
  border-radius: 200px;
}

.project-description {
  width: 100%;
  /* background-color: red; */
  margin-top: 1rem;
  font-size: 0.85rem;
  color: black;
}

.project-images {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  min-width: 0; /* IMPORTANT pour le resize */
}

.project-images img {
  height: 100%;
  transform-origin: center center;
  object-fit: cover;
  overflow: hidden;
}

