/* ---- Version desktop ---- */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  /* background-color: white; */
  backdrop-filter: blur(5px);
}

.navbar__left,
.navbar__right {
  font-size: 3vw;
  text-transform: uppercase;
}

.navbar__center {
  display: flex;
  gap: 10vw;
  font-size: 1dvw;
  font-weight: bold;
  padding: 0vw 1vw;
  text-transform: uppercase;
}

.navbar__link {
  padding: 0vw 0vw;
  position: relative; /* nécessaire pour l’animation */
  text-decoration: none;
}

/* Effet soulignement animé */
.link_projects::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0;
  height: 0.1dvw;
  background-color: black;
  transition: width 0.5s ease;
}
.link_contact::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 3px;
  width: 0;
  height: 0.1dvw;
  background-color: black;
  transition: width 0.5s ease;
}
.link_mylife::after {
  content: '';
  position: absolute;
  left: 50%;         /* centre horizontal */
  bottom: 3px;
  width: 0;
  height: 0.1dvw;
  background-color: black;
  transform-origin: center;  /* origine du scale au centre */
  transform: translateX(-50%) scaleX(0); /* on centre la ligne et on la réduit à 0 */
  transition: transform 0.5s ease;
}

.link_mylife:hover::after {
  transform: translateX(-50%) scaleX(1); /* on étire la ligne depuis le centre */
  width: 100%; /* width doit rester à 100% pour que scaleX marche bien */
}
.navbar__link:hover::after {
  width: 100%;
}

.navbar__mobile-name {
  display: none;
}

/* ---- Version mobile ---- */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 0em 0em 0.5em 0em;
    gap: 0em;
    text-transform: uppercase;
  }

  /* Ligne avec Alexandre à gauche et Gambarini à droite */
  .navbar__mobile-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 6vw;
    /* font-weight: bold; */
    padding: 4 0.5em 0em 0.5em;
  }

  /* Liens sur une seule ligne, centrés */
  .navbar__center {
    display: flex;
    flex-direction: row;
    gap: 10dvw;
    justify-content: center;
    flex-wrap: wrap; /* si l’écran est minuscule */
    font-size: 1.2rem;
    width: 100%;
  }

  .navbar__link {
    padding: 0em 0.5em;
    border-radius: 10px;
    display: inline-block;
  }

  /* Cacher les versions desktop des côtés */
  .navbar__left,
  .navbar__right {
    display: none;
  }
}

