@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'HelveticaCustom';
  src: url('/fonts/helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  cursor: none;
}
body {
  font-family: 'HelveticaCustom', sans-serif;
  background-color: white;
  color: black;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;            
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: black;   
  border-radius: 40px;   
  border: 3px solid transparent; 
  background-clip: content-box;
}
